<h1>Artist Bios</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Artist Bios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="kendrick">Kendrick Lamar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="whitney">Whitney Houston</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="j-cole">J. Cole</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sho-baraka">Sho Baraka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="switchfoot">Switchfoot</a>
          </li>
      </ul>
    </div>
  </nav>


<ng-content></ng-content>